[MASTER]
jobs=4
load-plugins=

[MESSAGES CONTROL]
disable=
    C0111,
    C0103,
    R0913,
    R0914,
    W0212,
    C0302,
    R0904

[FORMAT]
max-line-length=100
indent-string='    '

[DESIGN]
max-attributes=7
max-arguments=5
max-locals=15
max-branches=12
max-statements=50

[BASIC]
good-names=i,j,k,ex,Run,_,x,y,X,y_train,y_test,X_train,X_test

[LOGGING]
logging-format-style=new

[VARIABLES]
dummy-variables-rgx=_+$|^unused_

[SIMILARITIES]
min-similarity-lines=4
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes

